<div class="backdrop-auth is-hidden backdrop-reg-modal">
  <div class="reg-modal" data-modal="reg">
    <button
      type="button"
      class="modal__close-btn"
      data-modal-close="reg"
    ></button>

    <p class="reg-modal-title">Registration form</p>

    <form id="reg-modal-form" class="reg-modal-form">
      <input
        class="reg-modal-email"
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <input
        class="reg-modal-password"
        type="password"
        name="password"
        autocomplete="off"
        placeholder="Enter your password"
        required
      />
      <button
        class="reg-modal-btn-singUp"
        type="submit"
        aria-label="sign up btn"
        name="sign-up"
      >
        Sign Up
      </button>

      <p class="modal-wrap-bottom">
        Already have an account?
        <button
          class="modal-btn-singIn"
          type="button"
          aria-label="sign in btn"
          name="sign-in"
          data-modal-open="singIn-second"
        >
          Sign in
        </button>
      </p>
    </form>
  </div>
</div>

<div class="backdrop-auth is-hidden backdrop-singIn-modal">
  <div class="singIn-modal" data-modal="singIn">
    <button
      type="button"
      class="modal__close-btn"
      data-modal-close="singIn"
    ></button>

    <p class="singIn-modal-title">Authorization form</p>

    <form id="singIn-modal-form" class="reg-modal-form">
      <input
        class="singIn-modal-email"
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <input
        class="singIn-modal-password"
        type="password"
        name="password"
        autocomplete="off"
        placeholder="Enter your password"
        required
      />
      <button
        class="singIn-modal-btn"
        type="submit"
        aria-label="sing in btn"
        name="sing-in"
      >
        Sing in
      </button>
      <p class="modal-wrap-bottom">
        Not registered?
        <button
          class="modal-btn-singUp"
          data-modal-open="singUp-second"
          type="button"
        >
          Click here
        </button>
      </p>
    </form>
  </div>
</div>
