<!-- Модалка реєстрації -->
<include src="./partials/authModal.html"></include>
<!-- Модалка для фільма -->
<include src="./partials/modalMovie.html"></include>
<!-- Модалка команди -->
<!-- <include src="./partials/modalTeam.html"></include> -->
<footer>
  <div class="container footer__container">
    <span class="copyright">&#169; 2022 | All Rights Reserved | </span>
    <div class="footer__div">
      <span class="footer__div-span">Developed with</span>
      <span class="plug"></span>
      <p class="footer__list">by</p>
      <button type="button" class="footer__link" data-open="modal-footer">
        DEV-DREAMTEAM CODING
      </button>
      <div class="modal-footer" id="modal-footer">
        <div class="modal-dialog">
          <p class="modal-title">
            DEV-DREAMTEAM CODING<button
              class="close-modal"
              aria-label="close modal"
              data-close="modal-footer"
            >
              ✕
            </button>
          </p>
          <section class="modal-content">
            <div class="modal-members">
              <div class="modal-members__body">
                <ul class="modal-members__list">
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/boiko.jpg"
                      alt="boiko"
                      loading="lazy"
                    />
                    <h5>Бойко Владислава:</h5>
                    <p>
                      Team-lead перемикання сторінки без оновлення; пошук по
                      жанру; перемикання мов;
                    </p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/volodia.jpg"
                      alt="volodia"
                      loading="lazy"
                    />
                    <h5>Стогній Володимир:</h5>
                    <p>модалки фільмів; підключення прелоадера;</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/lazorko.jpg"
                      alt="lazorko"
                      loading="lazy"
                    />
                    <h5>Лазорко Інна:</h5>
                    <p>scrum; авторизація;</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/kaut.jpg"
                      alt="kaut"
                      loading="lazy"
                    />
                    <h5>Каут Тетяна:</h5>
                    <p>верстка галерей; верстка картки; темізація;</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/babaiev.jpg"
                      alt="babaiev"
                      loading="lazy"
                    />
                    <h5>Бабаєв Руслан:</h5>
                    <p>Library</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/luginets.jpg"
                      alt="luginets"
                      loading="lazy"
                    />
                    <h5>Лугінець Вадим:</h5>
                    <p>рендер карток на основну сторінку; пагінація;</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/pavlo.jpg"
                      alt="pavlo"
                      loading="lazy"
                    />
                    <h5>Михайловський Павло:</h5>
                    <p>пошук по ключовому слову; верстка спінера;</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/sheck.jpg"
                      alt="sheck"
                      loading="lazy"
                    />
                    <h5>Шек Надія:</h5>
                    <p>верстка хедера;</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/nicitchin.jpg"
                      alt="nicitchin"
                      loading="lazy"
                    />
                    <h5>Нікітчин Олександр:</h5>
                    <p>верстка футера;</p>
                  </li>
                  <li class="modal-members__item">
                    <img
                      class="modal-members__img"
                      src="./images/team/lasvr.jpg"
                      alt="lasvr"
                      loading="lazy"
                    />
                    <h5>Лавріненко Олександр:</h5>
                    <p>модалка з командою у футері;</p>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <p class="modal-caption">2022</p>
        </div>
      </div>
    </div>
  </div>
  <span class="footer__div-span">Developed with</span>
  <span class="plug"></span>
</footer>
