<!-- Модалка реєстрації -->
<include src="./partials/authModal.html"></include>
<!-- Модалка для фільма -->
<include src="./partials/modalMovie.html"></include>
<!-- Модалка команди -->
<include src="./partials/modalTeam.html"></include>
<footer>
  <div class="container footer__container">
    <span class="copyright">&#169; 2022 | All Rights Reserved | </span>
    <div class="footer__div">
      <span class="footer__div-span">Developed with</span>
      <span class="plug"></span>
      <p class="footer__list">by</p>
      <button type="button" class="footer__link" data-open="modal-footer">
        GoIT Students
      </button>
      <div class="modal-footer" id="modal-footer">
        <div class="modal-dialog">
          <p class="modal-title">
            GoIT Students<button
              class="close-modal"
              aria-label="close modal"
              data-close
            >
              ✕
            </button>
          </p>
          <section class="modal-content">
            <div class="modal-members">
              <div class="modal-members__body">
                <ul class="modal-members__list">
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                  <li class="modal-members__item">
                    <img class="" alt="" width="250" height="250" />
                    <h5>Имя Фамилия</h5>
                    <p lang="en">Junior Full Stack Developer</p>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <p class="modal-caption">2022</p>
        </div>
      </div>
    </div>
  </div>
  <span class="footer__div-span">Developed with</span>
  <span class="plug"></span>
</footer>
