<header class="header">
<div class="container">
  <div class="navigation__container">
    <a href="" class="logo">
      <svg class="logo__svg icon-film">
        <use href="./images/icons/sprite.svg#film"></use>
      </svg>
      <span class="logo__text">Filmoteka</span>
    </a>
    <nav class="navigation">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="./index.html" class="link current menu__link menu__link-home"
            >Home</a
          >
        </li>
        <li class="menu__item">
          <a href="./library.html" class="link menu__link menu__link-library"
            >My library</a
          >
        </li>
      </ul>
      <!--блок реєстрації користувача -->
      <div class="regs-btns">
        <button
          class="reg-btn-singUp"
          type="button"
          aria-label="sign up"
          name="sign-up-btn"
          data-modal-open="singUp"
        >
          SING UP
        </button>
        <button
          class="logout-btn is-hidden"
          type="button"
          aria-label="log-out"
          name="log-out-btn"
        >
          Log out
        </button>
      </div>
    </nav>
  </div>

  <div class="wrapper-header">
    <form id="search-form" action="" class="search">
      <input
        class="search__input"
        type="text"
        placeholder="Movie search"
        name="query"
      />

      <button class="search__button" type="submit" title="Go!">
        <svg class="search__button-icon icon-search" width="12" height="12">
          <use href="./images/icons/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <div class="search-choice">
      <span class="chose-type">Search by:</span>
      <button class="search-choice-btn name">name</button>
      <button class="search-choice-btn genre">genre</button>
    </div>
  </div>

 

  <!-- Уведомление об ошибке -->
  <p class="warning-notification">
    Search result not successful. Enter the correct movie name and try again,
    please
  </p>

  <div class="toolbar">
    <!-- Разметка переключателя темы -->
    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="Sun icon">
        <use href="./images/icons/sprite.svg#sun"></use>
      </svg>

      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Switch between dark and light themes"
        />
        <label
          aria-hidden="true"
          class="theme-switch__track"
          for="theme-switch-toggle"
        >
        </label>
        <div aria-hidden="true" id="theme-marker" class="theme-switch__marker theme__marker"></div>
      </div>

      <svg class="theme-switch__icon" aria-label="Moon icon">
        <use href="./images/icons/sprite.svg#moon"></use>
      </svg>
    </div>
  </div>
</div>
</header>
