<button type="button" data-movie-modal-open>Open modal with film</button>

<div class="backdrop is-hidden" data-movie-modal>
  <div class="modal">
    <button class="modal__close-btn" data-movie-modal-close></button>
    <div class="movie">
      <div class="movie__tumb">
        <img
          src="https://image.tmdb.org/t/p/w500/ns0QFkJTRI6fWIAMINzX1fP4X79.jpg"
          width="375"
          height="478"
          alt=""
        />
      </div>
      <div class="movie__content">
        <h2 class="movie__title">A FISTFUL OF LEAD</h2>
        <div class="movie__stats stats">
          <div class="stats__row">
            <span class="stats__name">Vote / Votes</span>
            <span class="statss__value">
              <span class="stats__vote">7.3</span>
              /
              <span class="stats__votes">1260</span>
            </span>
          </div>
          <div class="stats__row">
            <span class="stats__name">Popularity</span>
            <span class="stats__value">100.2</span>
          </div>
          <div class="stats__row">
            <span class="stats__name">Original Title</span>
            <sapn class="stats__value stats__value--uppercase">
              A FISTFUL OF LEAD
            </sapn>
          </div>
          <div class="stats__row">
            <span class="stats__name">Genre</span>
            <span class="stats__value">Western</span>
          </div>
        </div>
        <h3 class="movie__sub-title">About</h3>
        <p class="movie__discription">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="movie__actions">
          <button type="button" class="movie__button movie__button--colored">
            Add to watched
          </button>
          <button
            type="button"
            class="movie__button movie__button--transparent"
          >
            Add to Queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- https://image.tmdb.org/t/p/w300 -->
<!-- {
    "adult": false,
    "backdrop_path": "/pdD47rPAYKVdPasoyhSAFPIFIWo.jpg",
    "belongs_to_collection": null,
    "budget": 90000000,
    "genres": [
        {
            "id": 28,
            "name": "боевик"
        },
        {
            "id": 35,
            "name": "комедия"
        },
        {
            "id": 53,
            "name": "триллер"
        }
    ],
    "homepage": "",
    "id": 718930,
    "imdb_id": "tt12593682",
    "original_language": "en",
    "original_title": "Bullet Train",
    "overview": "Пятеро наёмных убийц оказываются в одном сверхскоростном экспрессе. Они узнают, что их миссии связаны, и пытаются выяснить, кто и зачем собрал их вместе.",
    "popularity": 1478.084,
    "poster_path": "/ns0QFkJTRI6fWIAMINzX1fP4X79.jpg",
    "production_companies": [
        {
            "id": 5,
            "logo_path": "/71BqEFAF4V3qjjMPCpLuyJFB9A.png",
            "name": "Columbia Pictures",
            "origin_country": "US"
        },
        {
            "id": 121470,
            "logo_path": null,
            "name": "87North Productions",
            "origin_country": "US"
        }
    ],
    "production_countries": [
        {
            "iso_3166_1": "US",
            "name": "United States of America"
        }
    ],
    "release_date": "2022-07-03",
    "revenue": 223632954,
    "runtime": 126,
    "spoken_languages": [
        {
            "english_name": "Japanese",
            "iso_639_1": "ja",
            "name": "日本語"
        },
        {
            "english_name": "English",
            "iso_639_1": "en",
            "name": "English"
        },
        {
            "english_name": "Russian",
            "iso_639_1": "ru",
            "name": "Pусский"
        },
        {
            "english_name": "Spanish",
            "iso_639_1": "es",
            "name": "Español"
        }
    ],
    "status": "Released",
    "tagline": "«Конечная станция - это только начало»",
    "title": "Быстрее пули",
    "video": false,
    "vote_average": 7.439,
    "vote_count": 925
} -->
