<section class="gallery home">
  <div class="container">
    <ul class="gallery__list" id="gallery-list"></ul>
  </div>
</section>
<section class="gallery watched visually-hidden">
  <div class="container">
    <div class="alert-block alert-block--hidden">
      <h1 class="alert">No movies here yet</h1>
      <img
        class="alert-img"
        src="https://i.kym-cdn.com/entries/icons/original/000/019/277/confusedtravolta.jpg"
        alt="Confused Travolta"
      />
    </div>
    <ul class="gallery__list gallery__list-watched"></ul>
  </div>
</section>
<!-- <ul class="gallery__list" id="gallery-list"></ul> -->
