<div class="pagination">
  <button class="pagination_previousBtn">prev</button>
  <button class="pagination_firstPage pagination_buttons--styles">1</button>
  <button class="pagination_leftPoints">...</button>
  <button class="pagination_leftSecondPage pagination_buttons--styles">
    leftSecondPage
  </button>
  <button class="pagination_leftFirstPage pagination_buttons--styles">
    leftFirstPage
  </button>
  <button
    class="pagination_currentPage pagination_buttons--styles pagination_buttons--styles--active"
  >
    current
  </button>
  <button class="pagination_rightFirstPage pagination_buttons--styles">
    rightFirstPage
  </button>
  <button class="pagination_rightSecondPage pagination_buttons--styles">
    rightSecondPage
  </button>
  <button class="pagination_rightPoints">...</button>
  <button class="pagination_lastPage pagination_buttons--styles">n</button>
  <button class="pagination_nextBtn">next</button>
</div>
