footer {
  background: #f7f7f7;
}
.footer__container {
  padding-left: 28px;
  padding-right: 16px;
  padding-bottom: 29px;
  padding-top: 22px;
  text-align: center;
  align-items: baseline;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

footer {
  background-color: #f7f7f7;
  position: relative;
}
.copyright {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  display: block;
  margin-bottom: 10px;

  color: #545454;

  @include tablet {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 0;
  }
}

.footer__div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.plug {
  width: 34px;
  height: 34px;
  background-image: url(../images/icons/footer-icon.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translate(0%, 35%);
}

.footer__div-span {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: #545454;

  @include tablet {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__list {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  margin-right: 4px;

  color: #545454;

  @include tablet {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: #545454;
  background-color: transparent;
  @include tablet {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #545454;
}
