.modal-footer {
  z-index: 2000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal-footer.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #fff;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-title,
.modal-caption {
  background: #ff6b08;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  text-decoration: none;
  float: right;
  background-color: #ff6b08;
}

.close-modal:hover,
.close-modal:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal-title .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-members__item h5,
.modal-members__item p {
  margin-bottom: 5px;
}
.modal-members__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal-members__item {
  width: 250px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 30px;
  }
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}
