.header__library {
  background-color: #000000;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/header-library-background-mobile@2x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header-library-background-desktop@2x.jpg);
  }

  & .current::after {
    width: 69px;
  }
}
