.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: fit-content;
}
.pagination_previousBtn {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 5px;

  @include tablet {
    padding: 10px;
  }
  @include desktop {
    padding: 20px;
  }
  &:hover {
    background-color: var(--accent);
    color: #f7f7f7;
    border: 1px solid rgb(65, 61, 61);
  }
}
.pagination_firstPage {
  background-color: inherit;
}

.pagination_leftPoints {
  cursor: default;
}

.pagination_rightPoints {
  cursor: default;
}

.pagination_currentPage {
  background-color: inherit;
}

.pagination_lastPage {
  background-color: inherit;
}
.pagination_nextBtn {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 5px;
  @include tablet {
    padding: 10px;
  }
  @include desktop {
    padding: 20px;
  }
  &:hover {
    background-color: var(--accent);
    color: #f7f7f7;
    border: 1px solid rgb(65, 61, 61);
  }
}

.pagination_page {
  background-color: inherit;
}

.pagination_buttons--styles {
  text-align: center;
  background-color: inherit;
  border-radius: 5px;
  padding: 5px;
  @include tablet {
    padding: 10px;
  }
  @include desktop {
    padding: 20px;
  }
  &:hover {
    background-color: var(--accent);
    color: #f7f7f7;
    border: 1px solid rgb(65, 61, 61);
  }
}

.pagination_buttons--styles--active {
  color: #f7f7f7;
  border: 1px solid rgb(65, 61, 61);
  background-color: var(--accent);
}
