.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: fit-content;
}
.pagination_previousBtn {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.pagination_firstPage {
  background-color: inherit;
  padding: 20px;
}

.pagination_leftPoints {
  cursor: default;
  padding: 20px;
}

.pagination_rightPoints {
  cursor: default;
  padding: 20px;
}

.pagination_currentPage {
  background-color: inherit;
  padding: 20px;
}

.pagination_lastPage {
  background-color: inherit;
  padding: 20px;
}
.pagination_nextBtn {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.pagination_page {
  background-color: inherit;
  padding: 20px;
}

.pagination_buttons--styles {
  background-color: inherit;
  padding: 20px;
}

.pagination_buttons--styles--active {
  background-color: orange;
  border-radius: 5px;
}
