body.light-theme {
  background-color: #fff;
  color: #000000;
}

body.dark-theme {
  background-color: #333333;
  color: var(--header-color-text);

  & .pagination-button {
    background-color: #333333;
    color: lightgrey;
  }
  & .arrow-right {
    stroke: darkgrey;
  }
  & .pagination--current {
    background-color: var(--accent);
  }

  & .card__title {
    color: #cccccc;
  }

  & .card__text {
    color: #ff8800;
  }
  & .footer-text {
    color: lightgrey;
  }
  & .footer-link:hover {
    color: var(--accent);
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  @include tablet {
    margin-right: 95px;
  }
  @include desktop {
    margin-right: 95px;
  }
}
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: lightgrey;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 16px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: var(--accent);
}

.theme-switch__toggle:checked ~ .theme__marker {
  transform: translateX(17px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px var(--accent);
}
.dark-theme {
  color: lightgrey;
  background-color: #222;
}
