<section class="library">
    <div class="container">
        <ul class="library-list">
            <li class="library-item">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span> </p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                    
                </div>
            </li>
            <li class="library-item">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span></p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
            <li class="library-item">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span></p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
            <li class="library-item">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span></p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
            <li class="library-item library-second">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span></p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
            <li class="library-item library-second">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span></p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
            <li class="library-item library-second">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span></p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
            <li class="library-item library-second">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span></p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
            <li class="library-item library-second library-last">
                <div class="library-picture"></div>
                <div class="library-info">
                    <h2 class="library-title">Назва фільму</h2>
                    <div class="library-text">
                        <p class="library-genre">жанр<span class="library-line">|</span> </p>
                        <p class="library-year">piк</p>
                        <div class="library-rating">10</div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>